name: Deploy to Github Pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

    - name: Get source code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python 3.8
      uses: actions/setup-python@v5.4.0
      with:
        python-version: 3.8

    - name: Set up NodeJS (for search index prebuilding)
      uses: actions/setup-node@v4.2.0
      with:
        node-version: '12'

    - name: Cache project dependencies (pip)
      uses: actions/cache@v4.2.2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install -r requirements.txt

    - name: Deploy to Github Pages
      run: |
        git config --global user.name "${{ secrets.BOT_NAME }}"
        git config --global user.email "${{ secrets.BOT_MAIL }}"
        mkdocs gh-deploy --clean --force --verbose
